<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Резюме</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h3 align="left" style="margin: 0px 10px 0px 50px;">Правильный образец резюме меня<hr> </h3>
    <div>
    <img hspace="10" src="https://photo-ideal.ru/upload/iblock/66a/xfoto_na_rezyume_50.jpg.pagespeed.ic.EN8c5cmfAD.jpg" alt="123" width="200" height="300" align="left">
        <p><strong>Кужденко Максим</strong></p>
        <p><strong>Желаемая должность:</strong> Хоть куда-то <br>
            <strong>Желаемый уровень дохода:</strong> 10 грывень</p>
        <p><strong>Дата рождения:</strong> 12.04.2001 г.</p>
        <p>Проживание: г. Черкассы<br>
            Готов к командировкам. Готов к переезду.</p>
        <p><strong>Контактная информация:</strong><br>
            Телефон: +380 ** *** ** **<br>
            Электронная почта: oldpaladin7@gmail.com</p> <br>
        <div style="margin: 0px 0px 0px 10px;">
            <p><strong>Ключевые знания и навыки:</strong></p>
            <ul><li>Сумел написать это резюме</li>
            <li>И запустил сервер</li>
            </ul>
            <p><strong>Опыт работы:</strong></p>
            <ul>
                <li>Нету</li>
            </ul>
            <p><strong>Образование:</strong></p>
            <ul>
                <li>Неполное высшее</li>
            </ul>
            <p><strong>Дополнительная информация:</strong><br>
            <strong>Иностранные языки:</strong>
            английский язык — средний уровень (B2).</p>

        </div>


    </div>
</body>
</html>